<p id="notice"><%= notice %></p>

<h1>A personal website for Evin O'Shea</h1>

<% tab "Home" %>

<h2>
  <ul class="tabs">
    <li><%= link_to 'Home', 'Home' %></li>
    <li><%= link_to 'About', 'About' %></li>
    <li><%= link_to 'Skills', 'Skills' %></li>
    <li><%= link_to 'Projects', 'Projects' %></li>
  </ul>
</h2>

<body>
  This website is the way that I feel most comfortable publicizing myself. As I can demonstrate experience with it.
  Feel free to browse the blog or use the productivity tracker, and please, leave a review of my website!
  Thank you for spending the time to see what I am about!
</body>

<h3>Home</h3>
