<p id="notice"><%= notice %></p>

<h1>Projects that I am hosting.</h1>

<% tab "Projects" %>

<h2>
  <ul class="tabs">
    <li><%= link_to 'Home', 'Home' %></li>
    <li><%= link_to 'About', 'About' %></li>
    <li><%= link_to 'Skills', 'Skills' %></li>
    <li><%= link_to 'Projects', 'Projects' %></li>
  </ul>
</h2>


<body>
  Right now I am hoping to create a little app that asks a few questions about your day, stores it in a database and then
  can visualize your data for you. If this were hosted and public I would want to be able to give people the option of using the app without
  it taking all of your data without your choice. But that may be hard so if that is the only way then I will make sure that is clear to the username

  I would love to further this idea with making into something that could track people's productivity and look for trends amongst more productive people
  (self rated productivity). I would make any results that I obtained public and will strive to make my website safe and anonymous.

  I would also like to start a blog. It would be documentation for myself, but potentially interesting to others. I have a few topics in mind such as
  my views on the determinism of quantum physics, the implications of spcial relativity on time travel (timetravel scifi will always be fi), and
  how linear algebra is great for modeling (linear regression, quantum physics).

  I would love to show my backend but I guess there has to be some problems there with security so we'll see, but I will always strive to be as transparent
  as possible, in particular with my website and any other representations of myself.

  Thank you for reading my website, it means a lot to me! It's a way of getting to know me and showing interest, because it requires effort, is always flattering.
</body>

<h3>Projects</h3>

<body>
  <ul class="btn">
    <li><%= link_to 'Leave a review', 'Review' %></li>
  </ul>
</body>
