<h1>Personal Skills</h1>

<% tab "Skills" %>

<h2>
  <ul class="tabs">
    <li><%= link_to 'Home', 'Home' %></li>
    <li><%= link_to 'About', 'About' %></li>
    <li><%= link_to 'Skills', 'Skills' %></li>
    <li><%= link_to 'Projects', 'Projects' %></li>
  </ul>
</h2>

<body>
  I have been trained in physics, mathematics, and computer science. I have learned to
  make models. I use linear algebra and other schemes to make models. These
  models can be used to predict an element of the system, they can be used todo
  describe and visualize the system, and they can be combined with other models
  to create
  I mean models in a Rails sense. As model is a collection of data, and any processes
  I can act on that data with to further my model.
</body>

<p>
  My experience for the last 3 years has been at the data processing center
  (Science Operations Center) for <%= link_to 'Parker Solar Probe-ISOIS', @psp_url %>).
  We use a postgres database and sqlalchemy to store our telemetry data. We
  have running daemons that regularly cycle the data through out processing pipeline.
  Where the various stages of the pipline are asynchronously running daemons.
</p>
<p>
  Our data is inserted to our database regularly using a sqlalchemy wrapper that
  we wrote and I have helped work on. The daemon will look at a 'todo' file
  and will regularly insert all new data and then create all regular 'raw' data files
  that there are data for. These files are then handed off to the next system.
</p>
<p>
  We use a code which is designed for running scripts which takes in the 'raw'
  data files and computes more developed versions of those data (i.e. applies conversions or
  calculations). This can be used to combine different types of 'raw' data and
  to continually create new types of further developed data products.
  All data files that enter the system are stored in a database and then all of
  the possible data products that can be created with that and existing files are
  made. Then the new data products are stored in the database as well and their
  products will be made. This cycle continues as more 'raw' data comes in to the
  system and they system creates more data products.

  Soon our data will be hosted on a website and I will be able to link it here!
</p>

<h3>Skills</h3>
